@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    @apply bg-darkbackground text-white scroll-smooth
}

.custom-select option {
    background-color: #111827;
    color: white;
}

::selection {
    background-color: rgba(0, 98, 130, 0.651);
}